*,
*::before,
*::after {
  box-sizing: border-box;
}

.main-container {
  display: flex;
  width: 100vw;
}

.left-container {
  height: 100vh;
  width: 20vw;
  border-right: 2px solid #eee;
}

.right-container {
  width: 80vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.top-panel {
  height: 30vh;
  border-bottom: 2px solid #eee;
}

.content-container {
  min-height: 70vh;
  background: #f0ffff;
}